{{#partial "pagename"}}
    {{username}}, these are your players
{{/partial}}

{{#partial "content"}}
    <small> You have a total of {{playersNumber}} player(s)! </small>
    <hr>{{#if players}}
        {{#each players}}
        <ol>
            <li style="margin:10px;">{{name}}</li>
            <br>
            <a href="squads/{{squad.id}}/players/{{id}}"><small>Player details...</small></a>
        </ol>
        {{/each}}
        <hr>
    {{else}}
        <br>
        <hr>
        You do not have any players yet!
        <br>
        <br>

        <a href="/players/new"> <button class="btn btn-danger">Add A Player</button> </a>
    {{/if}}<hr>


{{/partial}}

{{#partial "footer"}}
    <br>
    <a href="/players/delete"> <button style="margin:20px;" class="btn btn-danger">Delete All Players</button> </a>
{{/partial}}

{{> layout.hbs}}