{{#partial "pagename"}}
    This is <cite>{{squad.squadName}}</cite>'s page!
{{/partial}}


{{#partial "content"}}

    <h1> <small> Team Details:</small> </h1>
    <br><hr>

    <p> Jersey's color: <div style="background-color:{{squad.jersey}}; margin:10px; width:50px; height:50px; border-radius:100%;"></div>  </p>
    <p> Game-play strategy: {{squad.strategy}}</p>

    <br><hr>
    {{#if players}}
        Your team, {{squad.squadName}}, has the following players that you {{username}} manage:
        {{#each players}}
        <hr><ol>
            <li style="margin:5px;">{{players.name}}
                <br> <a href="/squads/{{squad.id}}/players/{{players.id}}"> <small> Player stats...</small></a>
            </li>
        </ol><hr>
        {{/each}}
        <br><hr>
        <cite style="font-weight:bolder;"> Your team cannot have more than 5 players! <small> You now have {{length}} player(s) </small></cite>
        <br>

        <a href="/squads/{{squad.id}}/players/new"><button class="btn btn-primary"> Add a new player </button> </a>
    {{else}}

        <cite style="font-weight:bolder;"> Your team has no players at the moment! </cite>
        <br>
        <br>
        <cite> <small> You cannot have more than 5 players here!</small></cite>
        <br>
        <br>
        <a href="/squads/{{squad.id}}/players/new"><button class="btn btn-primary"> Add a new player </button> </a>
    {{/if}}
{{/partial}}

{{#partial "footer"}}
    <br><br><br>
    <a href="/players/{{squad.id}}/delete"> <button style="margin:20px;" class="btn btn-danger"> Delete All Players</button> </a>
{{/partial}}

{{> layout.hbs}}